In [1]:
import pandas as pd

##### Make A Table

In [ ]:
=> Table : Cols And Rows
=> Cols : Keys Or Attribute
=> Rows : Values Or Data

#### Syntax :

In [ ]:
pd.DataFrame({Key : Values,.....})

##### I Have  Four Lists

In [3]:
l1 = ["Mike","Luke","Jack","Finn","Allen","Peter"]
l2 = [15,16,10,12,15,20]
l3 = ["Jaipur","Delhi","Kolkata","Banglore","Kota","Ajmer"]
l4 = [550,585,456,495,600,590]
l5 = ["mike@gmail.com","luke@gmail.com","jack@mail.com","finn@gmail.com","allen@gmail.com","peter@gmail.com"]

In [4]:
l1

['Mike', 'Luke', 'Jack', 'Finn', 'Allen', 'Peter']

In [5]:
l2

[15, 16, 10, 12, 15, 20]

In [6]:
l3

['Jaipur', 'Delhi', 'Kolkata', 'Banglore', 'Kota', 'Ajmer']

In [7]:
l4

[550, 585, 456, 495, 600, 590]

In [8]:
l5

['mike@gmail.com',
 'luke@gmail.com',
 'jack@mail.com',
 'finn@gmail.com',
 'allen@gmail.com',
 'peter@gmail.com']

In [9]:
stud = pd.DataFrame({"Stud":l1,"Age":l2,"City":l3,"Marks":l4,"Email":l5})

In [10]:
stud

    Stud  Age      City  Marks            Email
0   Mike   15    Jaipur    550   mike@gmail.com
1   Luke   16     Delhi    585   luke@gmail.com
2   Jack   10   Kolkata    456    jack@mail.com
3   Finn   12  Banglore    495   finn@gmail.com
4  Allen   15      Kota    600  allen@gmail.com
5  Peter   20     Ajmer    590  peter@gmail.com

In [11]:
from colorama import *

In [12]:
print(Fore.GREEN+stud)

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('<U5'), dtype('int64')) -> None

In [14]:
print(Fore.GREEN+str(stud))

    Stud  Age      City  Marks            Email
0   Mike   15    Jaipur    550   mike@gmail.com
1   Luke   16     Delhi    585   luke@gmail.com
2   Jack   10   Kolkata    456    jack@mail.com
3   Finn   12  Banglore    495   finn@gmail.com
4  Allen   15      Kota    600  allen@gmail.com
5  Peter   20     Ajmer    590  peter@gmail.com

In [15]:
stud["Stud"]

0     Mike
1     Luke
2     Jack
3     Finn
4    Allen
5    Peter
Name: Stud, dtype: object

In [16]:
stud["Stud"][0]

'Mike'

In [17]:
stud.City

0      Jaipur
1       Delhi
2     Kolkata
3    Banglore
4        Kota
5       Ajmer
Name: City, dtype: object

In [18]:
stud.City[0]

'Jaipur'

In [20]:
l4

[550, 585, 456, 495, 600, 590]

In [21]:
l4[0]

550

In [22]:
print(Fore.GREEN+Back.BLACK+str(stud))

    Stud  Age      City  Marks            Email
0   Mike   15    Jaipur    550   mike@gmail.com
1   Luke   16     Delhi    585   luke@gmail.com
2   Jack   10   Kolkata    456    jack@mail.com
3   Finn   12  Banglore    495   finn@gmail.com
4  Allen   15      Kota    600  allen@gmail.com
5  Peter   20     Ajmer    590  peter@gmail.com

In [ ]:
weight = float(input("Enter your weight (kg): "))
height = float(input("Enter your height (m): "))
bmi = weight / (height * height)
if bmi < 18.5:
    print("Underweight")
elif 18.5 <= bmi < 24.9:
    print( "Normal weight")
elif 25 <= bmi < 29.9:
    print("Overweight")
else:
    print("Obese")
print(f"\nYour BMI is: {bmi:.2f}")

In [24]:
print("BMI")
hight =float(input("\nEnter your hight (meter) :"))
weight =float(input("\nEnter your weight (kg):"))
bmi = weight / (hight * hight)
print(f"The BMI is : {bmi}")

BMI

Enter your hight (meter) :1.86

Enter your weight (kg):95
The BMI is : 27.45982194473349