**Input Function**

In [1]:
num1 = input("Enter Num1 :")
num2 = input("\nEnter Num2 :")
add = num1+num2
print("\nThis Is Result :",add)

Enter Num1 :10

Enter Num2 :50

This Is Result : 1050

**Type Function**

In [7]:
num1 = input("Enter Num1 :")
num2 = input("\nEnter Num2 :")
add = num1+num2
print(f"\nType of {num1} Is : {type(num1)}")
print(f"\nType of {num2} Is : {type(num2)}")
print("\nThis Is Result :",add)
print(f"\nType of {add} Is : {type(add)}")

Enter Num1 :10

Enter Num2 :50

Type of 10 Is : <class 'str'>

Type of 50 Is : <class 'str'>

This Is Result : 1050

Type of 1050 Is : <class 'str'>

**Type Casting**

In [ ]:
Input ==> Data ==> Type Cast : Integer , Float , Complex , etc

**Input ==> Data ==> Type Cast ==> Interger**

In [3]:
'''
           Use : int()
           Syntax :  int(input())
'''
""

''

In [6]:
num1 = int(input("Enter 1st Num :"))
num2 = int(input("\nEnter 2nd Num :"))
add = num1+num2
print("\nAdd Is :",add)

Enter 1st Num :10

Enter 2nd Num :50

Add Is : 60

In [8]:
num1 = int(input("Enter 1st Num :"))
num2 = int(input("\nEnter 2nd Num :"))
add = num1+num2
print("\nAdd Is :",add)
print(f"\nType of {num1} Is : {type(num1)}")
print(f"\nType of {num2} Is : {type(num2)}")
print("\nThis Is Result :",add)
print(f"\nType of {add} Is : {type(add)}")

Enter 1st Num :10

Enter 2nd Num :50

Add Is : 60

Type of 10 Is : <class 'int'>

Type of 50 Is : <class 'int'>

This Is Result : 60

Type of 60 Is : <class 'int'>

In [9]:
name = "Mike"
age = 20

In [11]:
print("My Name Is :",name)

My Name Is : Mike

In [12]:
print("My Name Is :name")

My Name Is :name

In [13]:
print(f"My Name Is : {name}")

My Name Is : Mike

In [15]:
print(f"{name} Is {age} Years Old..")

Mike Is 20 Years Old..

**Input ==> Data ==> Type Cast ==> Float**

In [16]:
'''
     Use : float()
     Syntax : float(input())
'''
""

''

In [17]:
num1 = float(input("Enter 1st Num :"))
num2 = float(input("\nEnter 2nd Num :"))
add = num1+num2
print("\nAdd Is :",add)
print(f"\nType of {num1} Is : {type(num1)}")
print(f"\nType of {num2} Is : {type(num2)}")
print("\nThis Is Result :",add)
print(f"\nType of {add} Is : {type(add)}")

Enter 1st Num :25

Enter 2nd Num :50.75

Add Is : 75.75

Type of 25.0 Is : <class 'float'>

Type of 50.75 Is : <class 'float'>

This Is Result : 75.75

Type of 75.75 Is : <class 'float'>

**Age Calculator**

In [18]:
born_year = int(input("Enter Born Year :"))
current_year = int(input("\nEnter Current Year :"))
cur_age = current_year - born_year
print("\nCurrent Age Is :",cur_age)

Enter Born Year :1998

Enter Current Year :2022

Current Age Is : 24

**Unit Converter**

In [20]:
km = float(input("Enter Value In KM :"))
meter = km*1000
print("\nValue In Meter Is :",meter,"m.")

Enter Value In KM :56.75

Value In Meter Is : 56750.0 m.

In [21]:
meter = float(input("Enter Value In Meter :"))
km = meter/1000
print("\nValue In KM Is :",km,"KM.")

Enter Value In Meter :567500

Value In KM Is : 567.5 KM.

**Currency Converter**

In [22]:
dol1 = float(input("Enter Value of 1$ In ₹ :"))
amt = float(input("\nEnter Amount of $ To Exchange In ₹ :"))
print(f"\nThe Amount In ₹ Are : {dol1*amt} ₹.")

Enter Value of 1$ In ₹ :82.25

Enter Amount of $ To Exchange In ₹ :1565.56

The Amount In ₹ Are : 128767.31 ₹.

**BMI CalCulator**

In [24]:
weight = float(input("Enter Your Weight (kg): "))
height = float(input("Enter Your Height (m): "))
bmi = weight / (height * height)
print(f"\nYour BMI Is : {bmi} Kg/m^2")

Enter Your Weight (kg): 65
Enter Your Height (m): 1.85

Your BMI Is : 18.991964937910883 Kg/m^2

In [25]:
div = 10/3

In [26]:
div

3.3333333333333335

**round function**

In [27]:
round(div)

3

In [28]:
num = 14.5555555

In [29]:
num

14.5555555

In [30]:
round(num)

15

In [31]:
weight = float(input("Enter Your Weight (kg): "))
height = float(input("\nEnter Your Height (m): "))
bmi = weight / (height * height)
print(f"\nYour BMI Is : {round(bmi)} Kg/m^2")

Enter Your Weight (kg): 75

Enter Your Height (m): 1.95

Your BMI Is : 20 Kg/m^2

**Simple_Color Module**


***How To Use It***

1.   pip install simple_colors
2.   import simple_colors

In [32]:
pip install simple_colors

Collecting simple_colors
  Downloading simple_colors-0.1.5-py3-none-any.whl (2.8 kB)
Installing collected packages: simple_colors
Successfully installed simple_colors-0.1.5

In [33]:
import simple_colors as color

In [34]:
#Syntax :  color.col_name(Data)

In [35]:
print(color.green("Hello Mike."))

Hello Mike.

**Bold Color**

In [36]:
msg = color.green(input("Enter Your Msg :"),'bold')
print("Msg Is :",msg)

Enter Your Msg :Now I Am Learning File Handing.
Msg Is : Now I Am Learning File Handing.

In [39]:
print(color.red("Hello Guys !!",'bold'))

Hello Guys !!

**Underlined**

In [41]:
msg = color.green(input("Enter Your Msg :"),['bold','underlined'])
print("Msg Is :",msg)

Enter Your Msg ::Now I  Am Learning File Handing
Msg Is : :Now I  Am Learning File Handing

In [42]:
name = "Luke"
age  = 20

In [44]:
print(color.green(f"{name} Is {age} Years Old..",'bold'))

Luke Is 20 Years Old..

In [46]:
name = 'Luke'
age = 10
print(color.green(f"{name}")+" Is "+color.red(f"{age}")+" Years Old")

Luke Is 10 Years Old

Question : **How To Make Table**

In [47]:
'''
     Use => Pandas

     ## Step 1  :  import pandas as pd
     ## Step 2  :  Use ==> Pandas => Method => DataFrame
'''
""

''

**Syntax :**

***pd.DataFrame({Key :Values,....})***

In [49]:
'''
        Table => Rows And Cols

        Here,
                   Key    => Column/Attribute
                   Values => Rows
'''
""

''

In [50]:
import pandas as pd

In [51]:
l1 = ["Mike","Jack"]
l2 = ["Jaipur","Delhi"]
l3 = [15,16]
l4 = [560,595]

In [52]:
stud = pd.DataFrame({"Name":l1,"City":l2,"Age":l3,"Marks":l4})
stud

   Name    City  Age  Marks
0  Mike  Jaipur   15    560
1  Jack   Delhi   16    595

**Colors**

In [53]:
print(color.green(stud,'bold'))

   Name    City  Age  Marks
0  Mike  Jaipur   15    560
1  Jack   Delhi   16    595

In [54]:
l1 = ["PIET21AD048","PIET21CS01","PIET21CA01","PIET21AD034","PIET21AD051"]
l2 = ["Raj","Ankit","Aman","Parv", "Tanishq"]
l3 = [18,19,18,20,21]
l4 = ["Jaipur", "Ajmer", "Kota", "Delhi", "Jaipur"]
l5 = [485,500,598,600,235]

cs = pd.DataFrame({color.green("Reg_no"): l1 , color.blue("Name"):l2, color.red("Age"):l3,
                   color.magenta("City"):l4, color.black("Marks"):l5})


print(cs)

  Reg_no Name  Age City  Marks
0     PIET21AD048           Raj            18        Jaipur             485
1      PIET21CS01         Ankit            19         Ajmer             500
2      PIET21CA01          Aman            18          Kota             598
3     PIET21AD034          Parv            20         Delhi             600
4     PIET21AD051       Tanishq            21        Jaipur             235

In [56]:
l1 = [48,55,15,34,51]
l2 = ["Raj","Ankit","Aman","Parv", "Tanishq"]
l3 = [18,19,18,20,21]
l4 = ["Jaipur", "Ajmer", "Kota", "Delhi", "Jaipur"]
l5 = [485,500,598,600,235]

cs = pd.DataFrame({color.green("Reg_no"): l1 , color.blue("Name"):l2, color.red("Age"):l3,
                   color.magenta("City"):l4, color.black("Marks"):l5})


print(cs)

   Reg_no Name  Age City  Marks
0               48           Raj            18        Jaipur             485
1               55         Ankit            19         Ajmer             500
2               15          Aman            18          Kota             598
3               34          Parv            20         Delhi             600
4               51       Tanishq            21        Jaipur             235

**Replace Value In Given Statment**



1.  Statement : I Am Learning Python.
2.  Replace : I => Any Input

In [59]:
msg = "I Am Learning Python."
replace_value = "I"
inp = input("\nEnter New Value :")
print(msg.replace(replace_value,inp))

Enter New Value :Mike
Mike Am Learning Python.

In [67]:
msg = "I Am Learning Python."
replace_value = input("Enter Old Value To Replace : ")
inp = input("\nEnter New Value : ")
print()
print(msg.replace(replace_value,inp))

Enter Old Value To Replace : Python

Enter New Value : Java

I Am Learning Java.

In [65]:
msg

'I Am Learning Python.'

In [71]:
msg = "I Am Learning Python."
replace_value = input("\nEnter Old Value To Replace :")
inp = input("\nEnter New Value :")
msg = msg.replace(replace_value,inp)
print("\nUpdated Msg Is :\n\t\t\t\t",msg)

Enter Old Value To Replace :I Am

Enter New Value :Luke

Updated Msg Is :
				 Luke Learning Python.

**Give Color Only To Updated Value**

In [72]:
msg="I am learning python"
print(f"old msg: {msg}")
rep_value=input("enter replace value: ")
rep=color.red(input("enter new value: "))
print(msg.replace(rep_value,rep))

old msg: I am learning python
enter replace value: I am
enter new value: Mike
Mike learning python

**Condition Statement**

In [73]:
'''
       => Make Statement As A Desicion Making Statement

       => if condn
       => if - else condn
       => if - elif - else condn
       => nested if condn
       => nested if - else condn
'''
""

''

***if Condn Statement***

![image.png]()

In [74]:
'''
      if cond Is True : It Will Executes All Expressions.

      otherwise , if cond Is False , It Will Be Stoped.
'''
""

''

In [75]:
'''
     Syntax :
                      if condn :
                         expressions....
                         ...............
'''
""

''

In [85]:
name = input("Enter Name To Verify :") #
if name == "Luke Penn":
  print("\n"+f"{color.green(name,'bold')} Is Exists In Database..")

Enter Name To Verify :Luke Penn

Luke Penn Is Exists In Database..

In [82]:
num1 = int(input("Enter 1st Num : "))
num2 = int(input("\nEnter 2nd Num : "))
if num1>num2:
  print()
  print(f"{color.green(num1,'bold')} Is Greater Than {color.red(num2,'bold')}")

Enter 1st Num : 10

Enter 2nd Num : 5

10 Is Greater Than 5

In [83]:
name = input("Enter Name To Verify :") # Mike
if name == "Luke Penn":   ## Mike == Luke Penn <-- False  ==> Stop
  print("\n"+f"{color.green(name,'bold')} Is Exists In Database..")

Enter Name To Verify :Mike

***if - else Condn Statement***

1.   if cond Is True , It Will Execute All Expressions.
2.   Otherwise , It Goes To else Part And Execute All Expression.

![image.png]()

In [84]:
'''
      Syntax :
                        if condn :
                           expressions...
                           ..............
                        else :
                           expressions...
                           ..............
'''
""

''

In [86]:
name = input("Enter Name To Verify : ")
if name == "Luke Penn":
  print("\n"+f"{color.green(name,'bold')} Is Exists In Database..")
else:
  print("\n"+f"{color.red(name,'bold')} Is Not Exists In DataBase..")

Enter Name To Verify : Mike

Mike Is Not Exists In DataBase..

In [87]:
num1 = int(input("Enter 1st Num : "))
num2 = int(input("\nEnter 2nd Num : "))
if num1>num2:  ## 10>50 ==> False
  print()
  print(f"{color.green(num1,'bold')} Is Greater Than {color.red(num2,'bold')}")
else:  ## Execute
  print()
  print(f"{color.green(num2,'bold')} Is Greater Than {color.red(num1,'bold')}")

Enter 1st Num : 10

Enter 2nd Num : 50

50 Is Greater Than 10

**EvenOdd**

In [88]:
num = int(input("Enter Num :"))
if num%2==0:
  print("\n"+f"{color.green(num,'bold')} Is Even Num.")
else:
  print("\n"+f"{color.red(num,'bold')} Is Odd Num.")

Enter Num :120

120 Is Even Num.

In [89]:
num = int(input("Enter Num :"))
if num%2==0:
  print("\n"+f"{color.green(num,'bold')} Is Even Num.")
else:
  print("\n"+f"{color.red(num,'bold')} Is Odd Num.")

Enter Num :125

125 Is Odd Num.

**Make A LogIn Program To Access Data**

***Brief Idea About and Operator***

In [90]:
True and True and True and True
## 1  x   1    x    1   x    1
## 1 => True

True

In [92]:
True and True and True and True and False
## 1  x   1    x    1   x    1   x    0
## 1 x 0 => 0 => False

False

In [94]:
username = input("Enter UserName : ")
password = input("\nEnter Password :")
un = "mike@gmail.com"
pw = "M25@luke"
if username==un and password==pw:
  print("\n"+color.green("SuccessFully LogIn.."))
else:
  print("\n"+color.red("UserName Or Password Was Incorrect."))

Enter UserName : mike@gmail.com

Enter Password :M25@luke

SuccessFully LogIn..

In [95]:
username = input("Enter UserName : ")
password = input("\nEnter Password :")
un = "mike@gmail.com"
pw = "M25@luke"
if username==un and password==pw:
  print("\n"+color.green("SuccessFully LogIn.."))
else:
  print("\n"+color.red("UserName Or Password Was Incorrect."))

Enter UserName : mike@gmail.com

Enter Password :M2500000]

UserName Or Password Was Incorrect.

**Give Hide Password**

In [96]:
'''
   Use : Module
                 => getpass
                 => Syntax : from getpass import getpass
'''
""

''

In [97]:
from getpass import getpass

In [98]:
username = input("Enter UserName : ")
password = getpass("\nEnter Password :")
un = "mike@gmail.com"
pw = "M25@luke"
if username==un and password==pw:
  print("\n"+color.green("SuccessFully LogIn.."))
else:
  print("\n"+color.red("UserName Or Password Was Incorrect."))

Enter UserName : mike@gmail.com

Enter Password :··········

SuccessFully LogIn..

In [99]:
text = input("Enter Text Data : ")
print("\n"+text)

Enter Text Data : Hello Mike\nHello Luke

Hello Mike\nHello Luke

**Assignment**


1. Give Multiple Lines In Input Function Using '\n'.

2. Make A Stranger Chat Bot With Given Instructions :    
        1. First Need To Log In Or Sign UP.
        2. Declare The Stranger Names.
        3. Gives Only 10 Lines To Chat.
        4. Prompt : Continue Or Stop
        5. Continue : Gives 10 Lines Or More.
        6. Exit     : Stop Program.

3. Make A Student Database Using While Loop.

4. Print Your Name In Star Pattern.

5. Make A Program About Fibonacci Series.

6. Make A Program In Python To Check Data Limit of Internet.

7. Make A Program To Scrap A Table Given URL :

   url : https://www.espncricinfo.com/records/most-runs-in-career-223646

8. Make A Program To Convert Text Into Mp3 File.

9. Make A Program About The Cipher.

10. Make A Program To Remove Any Text From A PDF File.