## Function : It Is A Block of Code.
                                           Run ==> Call

## How To Make A Function
                                        USE : Keyword ==> def

In [2]:
'''
  ## def :
           => It Is A Keyword.
           
           => It Is Used To Create or Define A Function.

'''
""

''

In [3]:
'''
    ## Syntax :
    
                        def function_name() :
                        
                            expressions...
                            
                            .........
'''
""

''

In [1]:
print

In [2]:
print "Hello"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Hello")? (3583445538.py, line 1)

##### Note : Parentheses () : It Is Used For Call A Function

In [3]:
def msg():
    print("Now We Are Learning Function.")

In [5]:
## Function => Run <== Call

In [4]:
msg

In [5]:
type(msg)

function

In [6]:
msg()

Now We Are Learning Function.

## Create A Function of Generate A Data

In [8]:
def gen_data():
    ques = input("Do You Want To Generate Data :")
    if ques =="Yes":
        name = input("\nEnter Name :")
        age =  int(input("\nEnter Age :"))
        city = input("\nEnter City :")
        contact = input("\nEnter Contact :")
        print(f'''
                                       INFORMATION
                                       
                  1. Stud Name Is : {name}
                  2. Stud Age  Is : {age}
                  3. Stud City Is : {city}
                  4. Stud Num  Is : {contact}
        ''')
    else:
        print("\nPls Exit..")

In [9]:
gen_data()

Do You Want To Generate Data :Nope

Pls Exit..

In [10]:
gen_data()

Do You Want To Generate Data :Yes

Enter Name :Mike

Enter Age :21

Enter City :Jaipur

Enter Contact :+91 7056560816

                                       INFORMATION

                  1. Stud Name Is : Mike
                  2. Stud Age  Is : 21
                  3. Stud City Is : Jaipur
                  4. Stud Num  Is : +91 7056560816

## Make A EvenOdd Program

In [12]:
def evenodd():
    num = int(input("Enter A Num :"))
    if num%2==0:
        print("\nEven Num Is :",num)
    else:
        print("\nOdd Num Is :",num)

In [13]:
evenodd()

Enter A Num :120

Even Num Is : 120

In [14]:
evenodd()

Enter A Num :125

Odd Num Is : 125

## Give Colors

In [15]:
from colorama import *

In [16]:
def evenodd():
    num = int(input("Enter A Num :"))
    if num%2==0:
        print(Fore.GREEN+"\nEven Num Is :" +str(num))
    else:
        print(Fore.RED+"\nOdd Num Is :"+str(num))

In [17]:
evenodd()

Enter A Num :120

Even Num Is :120

In [18]:
evenodd()

Enter A Num :125

Odd Num Is :125

In [19]:
def evenodd():
    num = int(input("Enter A Num :"))
    if num%2==0:
        print(Fore.GREEN+Back.BLACK+"\nEven Num Is :" +str(num))
    else:
        print(Fore.RED+Back.BLACK+"\nOdd Num Is :"+str(num))

In [20]:
evenodd()

Enter A Num :120

Even Num Is :120

In [21]:
evenodd()

Enter A Num :125

Odd Num Is :125

## Using Input Function

In [22]:
def cal():
    num1 = int(input("Enter 1st Num :"))
    num2 = int(input("\nEnter 2nd Num :"))
    add = num1+num2
    sub = num1-num2
    mul = num1*num2
    div = num1/num2
    print("\nAdd Is :",add,"\nSub Is :",sub,"\nMul Is :",mul,"\nDiv Is :",div)

In [23]:
cal()

Enter 1st Num :120

Enter 2nd Num :60

Add Is : 180
Sub Is : 60
Mul Is : 7200
Div Is : 2.0

In [24]:
def cal():
    num1 = int(input("Enter 1st Num :"))
    num2 = int(input("\nEnter 2nd Num :"))
    add = num1+num2
    sub = num1-num2
    mul = num1*num2
    div = num1/num2
    opt = input("\nSelect Option :")
    if opt=="Addition":
        print("\nAdd Is :",add)
    elif opt=="Subtraction":
        print("\nSub Is :",sub)
    elif opt == "Multiplication":
        print("\nMul Is :",mul)
    elif opt == "Division":
        print("\nDiv Is :",div)
    else:
        print("\nNo Option Is Here..")

In [26]:
cal()

Enter 1st Num :120

Enter 2nd Num :60

Select Option :Division

Div Is : 2.0

In [25]:
cal()

Enter 1st Num :10

Enter 2nd Num :5

Select Option :Power

No Option Is Here..

In [30]:
import simple_colors as color

                        Make A LeapYear Function.
                        Make A BMI Calculator Function.

## Make A Currency Converter Function

In [31]:
def cur_con():
    print('\t\t\t\t'+color.green("These Are Option",['bold','underlined']))
    print(color.blue('''
                              1. Dol  To Ind RS.
                              2. Euro To Ind RS.
         ''',['bold']))
    opt = input("\nSelect Option :")
    if opt=="Dol  To Ind RS.":
        dol1 = float(input("\nEnter 1$ In RS :"))
        amt =  float(input("\nEnter Amt In $ :"))
        print("\n"+color.green("Ind Rs Are :"+str(amt*dol1)))
    elif opt=="Euro To Ind RS.":
        dol1 = float(input("\nEnter 1Euro In RS :"))
        amt =  float(input("\nEnter Amt In Euro :"))
        print("\n"+color.blue("Ind Rs Are :"+str(amt*dol1)))
    else:
        print("\n"+color.red("No Option Is Here",'bold'))

In [32]:
cur_con()

				These Are Option

                              1. Dol  To Ind RS.
                              2. Euro To Ind RS.


Select Option :Dol  To Ind RS.

Enter 1$ In RS :85

Enter Amt In $ :120

Ind Rs Are :10200.0

In [33]:
cur_con()

				These Are Option

                              1. Dol  To Ind RS.
                              2. Euro To Ind RS.


Select Option :Euro To Ind RS.

Enter 1Euro In RS :125.56

Enter Amt In Euro :55

Ind Rs Are :6905.8

## Parameter And Arguments

In [34]:
def info(name):  ## name =>Parameter
    print("My Name Is :",name)

In [35]:
info()

TypeError: info() missing 1 required positional argument: 'name'

In [ ]:
Parameter => Name : Pass => Argument (Value)

In [36]:
info("Luke Penn")

My Name Is : Luke Penn

In [1]:
## Prompt ---> Paramater --> Name

## Pass   ---> Argument  --> For Name

## Parameter --> Object

## Argument ---> Value

In [2]:
'''
           def  func_name(Parameters,.....):
           
                expressions
                
           func_name(Arguments,....)
           
           
           ---------------------------------
           
           Parameter  --> Variable/Object
           
           Argument   --> Value

'''
""

''

In [38]:
def info(a,b):
    print(a,"Is",b,"Years Old.")

In [39]:
info("Mike",15)

Mike Is 15 Years Old.

## Types of Argument

In [40]:
   ## Default Argument
    
   ## Keyword Argument

   ## Positional Argument
    
   ## Variable Length Argument :

        ## Variable Length Non Keyword Argument
        ## Variable Length Keyword Argument

## default Argument :

       ## Pass ==> Parameters <---- Function
    
       ## Assign  ==> Values  <----- Parameters
    
       ## If We Can Pass The Values For Parameters In The Function.

In [1]:
def info(name="Mike",age=15,city="Jaipur",sub="Python"):
    print("Stud Name Is :",name)
    print("Age Is :",age)
    print("Address Is :",city)
    print("Sub Is :",sub)

In [2]:
info()

Stud Name Is : Mike
Age Is : 15
Address Is : Jaipur
Sub Is : Python

In [3]:
import simple_colors as color

In [16]:
name = "Mike"

In [17]:
print("My Name Is :",name)

My Name Is : Mike

In [18]:
print("My Name Is : name")

My Name Is : name

In [19]:
print(f"My Name Is : {name}")

My Name Is : Mike

In [4]:
info(name="Sean")

Stud Name Is : Sean
Age Is : 15
Address Is : Jaipur
Sub Is : Python

In [5]:
info()

Stud Name Is : Mike
Age Is : 15
Address Is : Jaipur
Sub Is : Python

In [20]:
def info(name="Mike",age=15,city="Jaipur",sub="Python"):
    print(color.green("Stud Name Is : " +name,'bold'))
    print(color.green(f"Age Is : {age}",'bold'))
    print(color.green("Address Is : "+city,'bold'))
    print(color.green("Sub Is : "+sub,'bold'))

In [21]:
info()

Stud Name Is : Mike
Age Is : 15
Address Is : Jaipur
Sub Is : Python

In [22]:
info(name="Jenny")

Stud Name Is : Jenny
Age Is : 15
Address Is : Jaipur
Sub Is : Python

In [23]:
info()

Stud Name Is : Mike
Age Is : 15
Address Is : Jaipur
Sub Is : Python

## Keyword Argument :

    ## Create ==> Function
    
    ## Pass ==> Parameters With Values

In [6]:
def evenodd(num):  ## Parameter => num
    if num%2==0:
        print("Even Num Is :",num)
    else:
        print("Odd Num Is :",num)

In [7]:
evenodd()

TypeError: evenodd() missing 1 required positional argument: 'num'

In [8]:
evenodd(20)

Even Num Is : 20

In [9]:
evenodd(125)

Odd Num Is : 125

In [35]:
def evenodd(num):
    if num%2==0:
        print(color.green(f"Even Num Is : {num}",'bold'))
    else:
        print(color.red(f"Odd Num Is : {num}",'bold'))

In [33]:
evenodd(220)

Even Num Is : 220

In [36]:
evenodd(255)

Odd Num Is : 255

## BMI Calculator

## Positional Argument :
     ## Parameters ==> Assign At Pos/Index No --> Inside The Function

In [10]:
def info(name,age):
    print(color.green(f"{name}",'bold')+" Is "+color.red(f"{age}",'bold')+" Years Old.")

In [11]:
info("Mike",15)

Mike Is 15 Years Old.

In [12]:
info(15,"Mike")

15 Is Mike Years Old.

In [13]:
info(age=15,name="Mike")

Mike Is 15 Years Old.

In [14]:
def info(name="Mike",age):
    print(color.green(f"{name}",'bold')+" Is "+color.red(f"{age}",'bold')+" Years Old.")

SyntaxError: non-default argument follows default argument (1265378009.py, line 1)

name => default argument
age  => keyword argument

In [52]:
'''
   ## Error :
   
            ==> non-default argument follows default argument.
            
            ==> Non Default Argument : Keyword Argument
            
            ==> Default Argument

'''
""

''

In [15]:
def info(age,name="Mike"):
    print(color.green(f"{name}",'bold')+" Is "+color.red(f"{age}",'bold')+" Years Old.")

In [16]:
info(15)

Mike Is 15 Years Old.

In [56]:
'''
   ## positional argument follows keyword argument
   
   ## Default Argument Follows Keyword Argument.

'''
""

''

## Variable Length Argument :

      ## Non Keyword Variable Length Argument

      ## Variable Length Keyword Length Argument

In [18]:
def emp(name):
    print("Emp List Is :",name)

In [19]:
emp("Luke","Mike")

TypeError: emp() takes 1 positional argument but 2 were given

In [20]:
emp(["Luke","Mike"])

Emp List Is : ['Luke', 'Mike']

## Non Keyword Variable Length Argument :
    
               Assign => Argument
        
               Arguement => Pass ==> Multiple Values
        
               Syntax :  *argument

In [61]:
## Paramter --> *
## *paramater_name

In [21]:
def emp(*name):
    print("Emp List Is :",name)

In [22]:
emp("Mike","Jack")

Emp List Is : ('Mike', 'Jack')

In [23]:
def emp(*name,age):
    print("Emp List Is :",name)
    print("Age Is :",age)

In [24]:
emp("Mike","Jack",15)

TypeError: emp() missing 1 required keyword-only argument: 'age'

In [25]:
emp("Mike","Jack",age=15)

Emp List Is : ('Mike', 'Jack')
Age Is : 15

In [26]:
def emp(age,*name):
    print("Emp List Is :",name)
    print("Age Is :",age)

In [27]:
emp(15,"Mike","Jack")

Emp List Is : ('Mike', 'Jack')
Age Is : 15

In [28]:
def emp(*age,*name):
    print("Emp List Is :",name)
    print("Age Is :",age)

SyntaxError: invalid syntax (4066833780.py, line 1)

## Variable Length Keyword Argument :

                Parameter --> Multiple Values
    
                It Works On Key And Value Pair.
    
                key = value

In [29]:
## Syntax :  **argument

In [31]:
def info(**kwargs):
    print("This Is Data :",kwargs)

In [32]:
info()

This Is Data : {}

In [33]:
info(name="Mike",age=20)

This Is Data : {'name': 'Mike', 'age': 20}

In [76]:
info(Name="Mike",Age=20)

This Is Data : {'Name': 'Mike', 'Age': 20}

In [77]:
info(Name = "Mike",Age = 20,Sub="Python",City="Jaipur")

This Is Data : {'Name': 'Mike', 'Age': 20, 'Sub': 'Python', 'City': 'Jaipur'}

In [78]:
def emp(**data):
    print("This Is Emp Data :",data)

In [79]:
emp(Name="Luke",Age=20,City="Jaipur",Salary=85000)

This Is Emp Data : {'Name': 'Luke', 'Age': 20, 'City': 'Jaipur', 'Salary': 85000}

In [34]:
def data(name):
    print("My Name Is :",name)

In [35]:
data("Mike")

My Name Is : Mike

In [36]:
print("\nThis Is Data :",data("Mike"))

My Name Is : Mike

This Is Data : None

In [37]:
type(data)

function

In [39]:
print("\nType Is :",type(data("Mike")))

My Name Is : Mike

Type Is : <class 'NoneType'>