In [1]:
'''
  ## lambda function :
  
      ==> It Is A Function.
      
      ==> It Is Used To Create A Function Without A Name.
      
      ==> It Is Known As Anonymous Function.
      
      ==> It Can Takes Multiple Arguments With Single Expression.
'''
""

''

In [2]:
'''
             def                 Vs         lambda
             
             
             
         ==> def func_name       |      ==>  lambda 
         
         ==> Need :              |      ==>  Need :
         
             --> Function_Name   |                 --> Not 
'''
""

''

#### Syntax : lambda arguments : expression

## Note :
             Assign --> Multiple Argument But Single Expression

In [3]:
lambda a,b : a+b

## Create An Object

In [5]:
add = lambda a,b : a+b

In [7]:
(lambda a,b : a+b) (20,125)

145

In [6]:
print("Addition Is :",add(10,5))

Addition Is : 15

In [9]:
print("Add Is :",(lambda a,b : a+b) (25,75))

Add Is : 100

In [11]:
print("Add Is :",(lambda a,b : a+b) (25,75,100,56))

TypeError: <lambda>() takes 2 positional arguments but 4 were given

In [12]:
type(add)

function

In [13]:
type(add(10,5))

int

         -----------------------------------------------------------------

In [10]:
(lambda a,b:a-b)

In [11]:
(lambda a,b:a-b)(10,5)

5

In [12]:
print("Sub Is :",(lambda a,b:a-b)(10,5))

Sub Is : 5

## Take String As A Argument

In [14]:
name = lambda a : a

In [15]:
print("Stud Is :",name("Mike"))

Stud Is : Mike

In [20]:
data = lambda a,b : (a,b)
print(data("Mike",20))

('Mike', 20)

In [21]:
print(data("Mike",20)[0],"Is",data("Mike",20)[1],"Years Old.")

Mike Is 20 Years Old.

In [22]:
msg = "We Are Learning Python."
f1 = lambda msg : msg
print("Msg Is :",f1())

TypeError: <lambda>() missing 1 required positional argument: 'msg'

In [23]:
msg = "We Are Learning Python."
f1 = lambda msg : msg
print("Msg Is :",f1(msg))

Msg Is : We Are Learning Python.

In [16]:
msg = "We Are Learning Python."
f1 = lambda msg : msg
print("Msg Is :",f1(msg))
## Pass msg as an argument

Msg Is : We Are Learning Python.

In [24]:
msg = "We Are Learning Python."
f1 = lambda msg : msg
print("Msg Is :",f1("I Am Going To Delhi."))

Msg Is : I Am Going To Delhi.

In [26]:
z = lambda a, b, c, d: a + (b - c) * d
y = z(*map(int,input("enter numbers: ").split()))
print(y)

enter numbers: 10 2 5 -5
25

In [27]:
add=lambda a,b :a+b
sub=lambda a,b:a-b
mul=lambda a,b :a*b
div=lambda a,b:a/b

a=int(input("Enter 1 num:"))
b=int(input("Enter 2 num:"))
print("Add= ",add(a,b))
print("Sub= ",sub(a,b))
print("Mul= ",mul(a,b))
print("Div= ",div(a,b))

Enter 1 num:10
Enter 2 num:5
Add=  15
Sub=  5
Mul=  50
Div=  2.0

In [28]:
a=int(input("enter a:"))
b=int(input("enter b:"))
sum=lambda a,b:a+b
sub=lambda a,b:a-b
mul=lambda a,b:a*b
div=lambda a,b:a/b
print(sum(a,b))
print(sub(a,b))
print(mul(a,b))
print(div(a,b))

enter a:25
enter b:-5
20
30
-125
-5.0

In [30]:
add = lambda a,b : a + b
sub = lambda a,b : a - b
print("1. Addition\n2. Substraction")
c = input("Enter your choice : ")
if c == '1' :
    a = int(input("Enter first number : "))
    b = int(input("Enter second number : "))
    print("Addition is ", add(a, b))
elif c == '2' :
    a = int(input("Enter first number : "))
    b = int(input("Enter second number : "))
    print("Substraction is ", sub(a, b))
else :
    print("Please select the valid option")

1. Addition
2. Substraction
Enter your choice : 1
Enter first number : 120
Enter second number : 5
Addition is  125

## Take Input As A Argument

In [31]:
lst = input("Enter The Values :").split()
emp = lambda lst : lst
print("\nEmp Data Is :",emp(lst))

Enter The Values :Mike Sean Luke Jack Jenny

Emp Data Is : ['Mike', 'Sean', 'Luke', 'Jack', 'Jenny']

In [32]:
stud = lambda lst = input("Enter Values :").split() : lst
print("\nStud Data Is :",stud())

Enter Values :Luke Mike Peter Finn Allen

Stud Data Is : ['Luke', 'Mike', 'Peter', 'Finn', 'Allen']

In [34]:
cal = lambda a,b : a+b,a-b,a*b,a/b  ## Multiple Arguments
## Single Argument

In [36]:
cal = lambda a,b : (a+b,a-b,a*b,a/b)

In [37]:
cal(10,5)

(15, 5, 50, 2.0)

In [38]:
type(cal(10,5))

tuple

In [39]:
print("Add Is :",cal(10,5)[0])
print("Sub Is :",cal(10,5)[1])

Add Is : 15
Sub Is : 5

In [27]:
data = cal(10,5)

In [28]:
data

(15, 5, 50, 2.0)

## Index

In [29]:
print("Add Is :",data[0])
print("Sub Is :",data[1])

Add Is : 15
Sub Is : 5

In [40]:
data = lambda a="Mike",b : (a,b)
print(data(20)[0],"Is",data(20)[1],"Years Old..")

SyntaxError: non-default argument follows default argument (860107943.py, line 1)

In [42]:
data = lambda b,a="Mike" : (a,b)
print(data(20)[0],"Is",data(20)[1],"Years Old..")

Mike Is 20 Years Old..

In [44]:
for k in data(20):
    print("Value Is :",k)

Value Is : Mike
Value Is : 20

## Using For Loop

In [30]:
for k in data:
    print(k)

15
5
50
2.0

In [31]:
for k in data:
    name = input("\nEnter Name :")
    print()
    print(name,"Is :",k)

Enter Name :Add

Add Is : 15

Enter Name :Sub

Sub Is : 5

Enter Name :Mul

Mul Is : 50

Enter Name :Div

Div Is : 2.0

In [34]:
index = 0
for k in data:
    name = input("\nEnter Name :")
    print()
    print(index," -> ",name,"Is :",k)
    index+=1

Enter Name :Add

0  ->  Add Is : 15

Enter Name :Sub

1  ->  Sub Is : 5

Enter Name :Mul

2  ->  Mul Is : 50

Enter Name :Div

3  ->  Div Is : 2.0

In [35]:
from colorama import *

In [38]:
index = 0
for k in data:
    name = input("\nEnter Name :")
    print()
    print(Fore.GREEN+str(index)+" -> "+name+" Is :"+str(k)+Style.RESET_ALL)
    index+=1

Enter Name :Add

0 -> Add Is :15

Enter Name :Sub

1 -> Sub Is :5

Enter Name :Mul

2 -> Mul Is :50

Enter Name :Div

3 -> Div Is :2.0

## Nested Lambda Function

In [45]:
add = lambda a,b : lambda c,d : a+b+c+d

In [46]:
add

In [47]:
add(10,5)

In [48]:
add(10,5)(5,100)

120

In [49]:
print("Add Is :",add(10,5)(5,100))

Add Is : 120

In [50]:
condn = lambda a,b : print("True") if a>b

SyntaxError: invalid syntax (1169298163.py, line 1)

In [51]:
condn = lambda a,b : print("True") if a>b else print("False")

In [52]:
condn(10,5)

True

## Condition With lambda Function

In [58]:
res = lambda a,b : print(a,"Is Greater Than",b) if a>b else print(b,"Is Greater Than",a)

In [59]:
res(10,5)

10 Is Greater Than 5

In [60]:
type(res)

function

In [62]:
lambda a,b : a + b
data = lambda c,d : lambda a,b
print(data(20,10))

SyntaxError: invalid syntax (3518222655.py, line 2)

In [66]:
add = lambda a,b : a + b
data = lambda c,d : add(c,d)
print(data(50,10))

60

In [67]:
add = lambda a,b : a + b
data = lambda c,d : add(c,d)
print(data("A","B"))

AB

In [71]:
add = lambda a,b : a + b
data = lambda c,d : add(c,d)/(50+10)
print(data(50,10))

1.0

In [72]:
add = lambda a,b,c,d : a+b
print("Add Is :",add(10,5,100,20))

Add Is : 15

In [3]:
res(5,100)

100 Is Greater Than 5

## Evenodd

In [73]:
evenodd = lambda num : print(num,"Is Even Num.") if num%2==0 else print(num,"Is Odd Num.")

In [74]:
evenodd(100)

100 Is Even Num.

In [75]:
evenodd(125)

125 Is Odd Num.

## Maximum And Minimum

In [76]:
res = lambda a,b: print("Max Value Is :",a,"\nMin Value Is :",b) if a>b else print("Max Value Is :",b,"\nMin Value Is :",a)

In [77]:
res(10,5)

Max Value Is : 10
Min Value Is : 5

In [78]:
res(100,500)

Max Value Is : 500
Min Value Is : 100