In [1]:
# Tuple() :

## It Is Used To Stored Multiple Data Elements In A Single Object.
## Immutable : It Can Not Be Modify.
## Ordered
## Allow To Store Duplicate Values.
## Support Index Value.

In [2]:
'''
   ## Tuple :
   
      ==> It Is Used To Store Multiple Data Elements.
      
      ==> It Supports The Duplicate Data Elements.
      
      ==> Ordered
      
      ==> Imutable
      
          : It Can Not Modify    

'''
""

''

## How To Make Tuple

In [1]:
## Use : ()

In [2]:
t1 = ()

In [3]:
t1

()

In [4]:
type(t1)

tuple

In [5]:
t2 = ("Sean")

In [6]:
t2

'Sean'

In [7]:
type(t2)

str

## Note : Tuple Can Not Stored A Single Element

In [8]:
t2 = ("Sean",)

In [9]:
t2

('Sean',)

In [10]:
type(t2)

tuple

## Ordered

In [11]:
t5 = (100,25,125,2,1,10)

In [12]:
t5

(100, 25, 125, 2, 1, 10)

## Support Duplicate Items

In [13]:
t6 = ("Sean","Sean")

In [14]:
t6

('Sean', 'Sean')

## How To Check The Length of The Tuple

In [15]:
## use : len()
## It Is Used To Check The length of The Tuple

In [16]:
t2

('Sean',)

In [17]:
print("No of Elements Are :",len(t2))

No of Elements Are : 1

## Index

In [18]:
t1 = ("Mike","Jack","Luke","Ryan","Kyle")

In [19]:
t1

('Mike', 'Jack', 'Luke', 'Ryan', 'Kyle')

In [20]:
t1[0]

'Mike'

In [21]:
t1[5]

IndexError: tuple index out of range

In [24]:
t1[4]

'Kyle'

In [22]:
t1[::2]

('Mike', 'Luke', 'Kyle')

## Immutable

In [23]:
t1

('Mike', 'Jack', 'Luke', 'Ryan', 'Kyle')

In [24]:
t1[0]

'Mike'

In [25]:
t1[0] = "Jackie"

TypeError: 'tuple' object does not support item assignment

# Slicing/Indexing

In [28]:
t1

('Mike', 'Jack', 'Luke', 'Ryan', 'Kyle')

In [29]:
t1[0::2]

('Mike', 'Luke', 'Kyle')

In [31]:
t1[1:5:2]

('Jack', 'Ryan')

## How To Make Tuple Input Function

In [32]:
## Use : tuple(input().split())

In [27]:
data = tuple(input().split())
print("\nEmp Data :",data)

Mike Jack Luke Peter Finn

Emp Data : ('Mike', 'Jack', 'Luke', 'Peter', 'Finn')

In [2]:
type(data)

tuple

## Methods

In [3]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [4]:
'''
      ## Count()
      ## Index()
'''
""

''

## count()

In [5]:
'''
 ## count() :
 
       => It Is Used To Count Perticular Data Eleement.
       
       => Syntax :
       
                     tuple_name.count(element)
'''
""

''

In [28]:
data

('Mike', 'Jack', 'Luke', 'Peter', 'Finn')

In [29]:
data.count("Mike")

1

In [30]:
data.count(input("Enter Value :"))

Enter Value :AB

0

In [31]:
inp = input("Do You Want To Count The Perticular Element ? :")
if inp =="Yes":
    value = input("\nEnter The Value :")
    print()
    print(value,"Is :", data.count(value))
else:
    print("\nExit..")

Do You Want To Count The Perticular Element ? :Yes

Enter The Value :Mike

Mike Is : 1

## index()

In [11]:
'''
  ## index() :
  
      => It Is Used To Check The Pos/Index Value of Any Element.
      
      ## Syntax :
       
                   tuple_name.index(Element)

'''
''

''

In [32]:
data.index("Finn")

4

In [33]:
data

('Mike', 'Jack', 'Luke', 'Peter', 'Finn')

In [35]:
data.index("Jack")

1

In [36]:
data.index(input("Enter Value :"))

Enter Value :Jenny

ValueError: tuple.index(x): x not in tuple

## Handle The Error

In [17]:
value = input("Enter Value :")
if value in data:
    value = input("\nEnter Value To Check Index No :")
    print("\nIndex No Is :",data.index(value))
else:
    print("\nGiven Value :",value,"Is Not Exist.")

Enter Value :Jack

Enter Value To Check Index No :Finn

Index No Is : 4

In [18]:
value = input("Enter Value :")
if value in data:
    value = input("\nEnter Value To Check Index No :")
    print("\nIndex No Is :",data.index(value))
else:
    print("\nGiven Value :",value,"Is Not Exist.")

Enter Value :Jenny

Given Value : Jenny Is Not Exist.

In [19]:
data

('Mike', 'Jack', 'Luke', 'Peter', 'Finn')

In [20]:
data[0]

'Mike'

In [21]:
data[0] = "Jenny"

TypeError: 'tuple' object does not support item assignment