In [1]:
data = ("Mike","Luke","Peter","Finn","Allen")

In [2]:
data

('Mike', 'Luke', 'Peter', 'Finn', 'Allen')

In [3]:
data.append("A")

AttributeError: 'tuple' object has no attribute 'append'

In [4]:
data[0] = "A"

TypeError: 'tuple' object does not support item assignment

## How To Modify Tuple

                            Modify Tuple  : Type Cast

## Step 1 : Tuple : List
## Step 2 : List    : Tuple

In [5]:
'''
     Step 1 :
     
                   Tuple ==> Type Cast ==> List
                   
                   ==> Use : list()
                   
                   ## Syntax : list(tuple)

'''
""

''

In [5]:
data

('Mike', 'Luke', 'Peter', 'Finn', 'Allen')

In [6]:
type(data)

tuple

In [7]:
print("\t\t\t\tTuple Type Cast ==> List")
data = list(data)
print("\nAfter Type Casting :",data)
print("\nType of Data Is :",type(data))

				Tuple Type Cast ==> List

After Type Casting : ['Mike', 'Luke', 'Peter', 'Finn', 'Allen']

Type of Data Is : <class 'list'>

In [9]:
inp = input("\nDo You Want To Modify Data :")
if inp=="Yes":
    print('''\nSelect The Method :
                                        1. Append
                                        2. Insert
        ''')
    method = input("\nSelect The Method :")
    if method == "Append":
        data.append(input("\nEnter The New Value To Add :"))
        print("\nUpdated Data Is :",data)
    elif method == "Insert":
        index = int(input("\nEnter The Index Num :"))
        value = input("\nEnter The New Value To Add :")
        data.insert(index,value)
        print("\nUpdated Data Is :",data)
    else:
        print("\nNo Method Is Here.")
else:
    print("\nOkay !!")

Do You Want To Modify Data :Yes

Select The Method :
                                        1. Append
                                        2. Insert


Select The Method :Insert

Enter The Index Num :0

Enter The New Value To Add :Jenny

Updated Data Is : ['Jenny', 'Mike', 'Luke', 'Peter', 'Finn', 'Allen']

In [11]:
'''
     Step 2 :
     
                   List ==> Type Cast ==> Tuple
                   
                   ==> Use : tuple()
                   
                   ## Syntax : tuple(List)

'''
""

''

In [10]:
data

['Jenny', 'Mike', 'Luke', 'Peter', 'Finn', 'Allen']

In [11]:
type(data)

list

In [12]:
data = tuple(data)

In [13]:
data

('Jenny', 'Mike', 'Luke', 'Peter', 'Finn', 'Allen')

In [14]:
type(data)

tuple

In [15]:
data[0]

'Jenny'

In [16]:
data[0] = "Mike"

TypeError: 'tuple' object does not support item assignment