In [ ]:
Data  : Any Kind of Information

##### Data : Defined Data

In [2]:
Mike

NameError: name 'Mike' is not defined

#### String Data

In [ ]:
Data => Char\Letters\Words
==> This Type of Data Is Known As String

#### How To Make String`

In [ ]:
Single  Quote  :  '   '
Double  Quote  : "    "
Tripple Quote  : ''' '''

In [ ]:
Put Anytype of Data Inside This,It Will Make Into String Data Type.

In [5]:
'A'

'A'

In [6]:
'Mike'

'Mike'

In [7]:
"I Am Learning Python."

'I Am Learning Python.'

In [8]:
print('Mike')

Mike

In [9]:
print('Mike'
                  Hello Jack)

SyntaxError: invalid syntax (3239730560.py, line 2)

In [10]:
print("Mike'
                  Hello Jack")

SyntaxError: EOL while scanning string literal (1882469516.py, line 1)

In [12]:
print('''Mike
                  Hello Jack''')

Mike
                  Hello Jack

In [13]:
print('''
                  *
                 * *
                *   *
               * * * *
              *       *
             *         *   ''')

## ''' '''   Multiline String

                  *
                 * *
                *   *
               * * * *
              *       *
             *         *

In [14]:
print('''
*
*
*       * *
*     *     *
*   *         *
* *             *
*************************************************
*                  *                 *
*                    *             *
*                      *         *
*                        *     *
*                          * *
*
''')

*
*
*       * *
*     *     *
*   *         *
* *             *
*************************************************
*                  *                 *
*                    *             *
*                      *         *
*                        *     *
*                          * *
*

#### Print Function

In [ ]:
=> It Takes Data\Input And Shows The Result On Display.

##### Syntax : print(data,.....,sep,end)

In [15]:
"Hello We Are Learning Python.."
print("Hello We Are Learning Python..")

Hello We Are Learning Python..

In [16]:
"Hello Mike"
"Hello Jack"

'Hello Jack'

In [17]:
print("Hello Mike")
print("Hello Jack")

Hello Mike
Hello Jack

In [18]:
print("Mike","Jack","Luke","Peter","Finn")

Mike Jack Luke Peter Finn

In [19]:
'''
          print(data,....,sep,end)
          
          Here ,
                        Data : Information
                        
                        sep  : ByDefault Sep Is Space
                        
                        end  : "\n"  : New Line \ Next Line

'''
""

''

## Can We Change Sep's Value

In [20]:
print("Mike","Jack","Luke","Peter","Finn")
## Sep ==> *

Mike Jack Luke Peter Finn

In [21]:
print("Mike","Jack","Luke","Peter","Finn",sep="*")

Mike*Jack*Luke*Peter*Finn

In [22]:
print("Mike","Jack","Luke","Peter","Finn",sep=" * ")

Mike * Jack * Luke * Peter * Finn

In [23]:
print("Mike","Jack","Luke","Peter","Finn",sep="\n")

Mike
Jack
Luke
Peter
Finn

In [25]:
print("Mike","Jack","Luke","Peter","Finn",sep=" <-- Stud --> ")

Mike <-- Stud --> Jack <-- Stud --> Luke <-- Stud --> Peter <-- Stud --> Finn

In [27]:
print("Mike","Jack","Luke","Peter","Finn",sep="\nStud --> ")

Mike
Stud --> Jack
Stud --> Luke
Stud --> Peter
Stud --> Finn

In [28]:
print("Stud --> Mike","Jack","Luke","Peter","Finn",sep="\nStud --> ")

Stud --> Mike
Stud --> Jack
Stud --> Luke
Stud --> Peter
Stud --> Finn

## Tab : "\t"

In [29]:
print("Mike\t\t\t\tLuke")

Mike				Luke

#### +  In String
##### Note :  +  Concate/Join

In [30]:
print("Mike"+"Mike")

MikeMike

In [31]:
print("Mike"+" Mike")

Mike Mike

## * In String
##### Note : No of Time Call

In [32]:
print("Mike"*5)

MikeMikeMikeMikeMike

In [33]:
print("Mike "*5)

Mike Mike Mike Mike Mike

In [34]:
print("Mike\n"*5)

Mike
Mike
Mike
Mike
Mike

In [41]:
print("\t\t\t\t\t\t\t\t\tA Block 56")
print("\t\t\t\t\t\t\t\t\tSector 5")
print("\t\t\t\t\t\t\t\t\tGreen Park, New Delhi")
print("\n\t\t\t\t\t\t\t\t\t25 Dec 2025")
print("Dear Mike")
print("             Hello Mike !!! How Are You.")

									A Block 56
									Sector 5
									Green Park, New Delhi

									25 Dec 2025
Dear Mike
             Hello Mike !!! How Are You.

## Make Formal And Informal Letters With Different Types

In [47]:
print('''\t\t\t\t\t\t\t\t\t\t\tSector17
\t\t\t\t\t\t\t\t\t\t\tVashi
\t\t\t\t\t\t\t\t\t\t\tNew Bombay\n
\t\t\t\t\t\t\t\t\t\t\th July,2023''')
print('''Dearest Maria,\n

I was so glad to hear from my mother that you are back home after the trip. Hope you had a safe and enjoyable trip. I have been waiting to hear all about the trip from you.

Since this was the first time you have been to a foreign land, I guess every little bit of the trip was as exciting as you expected it to be. I have heard from my friends residing there that the place is extremely beautiful and that the people there are very endearing. However, I was worried when I knew that there were a few bomb blasts during your stay there. Hope all of you there were safe. I hope everything else was fine except for this.

I had spoken to your mother earlier, and she told me that you would be coming home after two weeks. I saw your pictures on Instagram as well. I can’t wait to meet you and hear all your stories. Wa
I saw your pictures on Instagram as well. I can’t wait to meet you and hear all your stories. Waiting eagerly for your reply.

\nYour loving cousin,

Sarah''')

											Sector17
											Vashi
											New Bombay

											h July,2023
Dearest Maria,


I was so glad to hear from my mother that you are back home after the trip. Hope you had a safe and enjoyable trip. I have been waiting to hear all about the trip from you.

Since this was the first time you have been to a foreign land, I guess every little bit of the trip was as exciting as you expected it to be. I have heard from my friends residing there that the place is extremely beautiful and that the people there are very endearing. However, I was worried when I knew that there were a few bomb blasts during your stay there. Hope all of you there were safe. I hope everything else was fine except for this.

I had spoken to your mother earlier, and she told me that you would be coming home after two weeks. I saw your pictures on Instagram as well. I can’t wait to meet you and hear all your stories. Wa
I saw your pictures on Instagram as well. I can’t wait to meet you and hear all your stories. Waiting eagerly for your reply.


Your loving cousin,

Sarah

In [48]:
"i am learning python."

'i am learning python.'

## String In Upper Case

##### Syntax : string_data.upper()

In [49]:
"i am learning python.".upper()

'I AM LEARNING PYTHON.'

#### Lower Case
##### Syntax : string_data.lower()

In [50]:
'I AM LEARNING PYTHON.'.lower()

'i am learning python.'

#### Title Case
##### Syntax : string_data.title()

In [54]:
'i am learning python.'.title()

'I Am Learning Python.'

#### Capitalize Case
##### Syntax : string_data.capitalize()

In [55]:
'i am learning python.'.capitalize()

'I am learning python.'

## Variable

=> This Is Object\Containter
=> Use To Store Data
=> They Can Be Changeable
=> Store Multiple Data With Different Types of Data

#### How To Make Variable

##### We Can Make Variable With Letter/Char/Word.

In [56]:
a = "Mike"

In [57]:
a

'Mike'

In [59]:
name = "Finn Allen"

In [60]:
name

'Finn Allen'

In [61]:
print("My Name Is :")

My Name Is :

In [62]:
print("My Name Is :",name)

My Name Is : Finn Allen

In [63]:
A

NameError: name 'A' is not defined

#### Note : Python Is Highly Case Sensitive

In [64]:
"a" > "A"

True

In [65]:
ord("a")

97

In [66]:
ord("A")

65

In [67]:
bin(97)

'0b1100001'

In [68]:
bin(65)

'0b1000001'

## We Can Make Variable With Only Single Special Character
##### Underscore _

In [69]:
email id = "sean@gmail.com"

SyntaxError: invalid syntax (2371254089.py, line 1)

In [70]:
email_id = "sean@gmail.com"

In [71]:
email_id

'sean@gmail.com'

In [72]:
"Hello Python"

'Hello Python'

In [73]:
_

'Hello Python'

In [74]:
10000

10000

In [75]:
_

10000

In [76]:
_ = "I Am Learning Python."

In [77]:
_

'I Am Learning Python.'

In [78]:
25

25

In [79]:
_

'I Am Learning Python.'

In [80]:
del(_)

In [81]:
_

NameError: name '_' is not defined

In [82]:
25

25

In [83]:
_

NameError: name '_' is not defined

In [84]:
_ = 20

In [85]:
_

20

## We Can Not Make Variable With Other Special Character

In [86]:
@ = "Mike"

SyntaxError: invalid syntax (3852907542.py, line 1)

In [87]:
k@ = 10

SyntaxError: invalid syntax (1195826763.py, line 1)

## We Can Not Make Variable With Numrals

In [88]:
10 = 100

SyntaxError: cannot assign to literal (23803170.py, line 1)

In [89]:
10k = 25

SyntaxError: invalid syntax (2196683547.py, line 1)

## We Can Not Make Varibale With Keywords

In [ ]:
Like : def , del , is , is not , in , not in , yield , if , else , True , False , elif , while , for , etc..

In [90]:
del = "Mike"

SyntaxError: invalid syntax (3286076907.py, line 1)

In [91]:
Del = "Mike"

In [92]:
Del

'Mike'

In [93]:
max = 100

In [94]:
max

100

In [97]:
del(max)

In [98]:
max([100,120,-100,-25])

120

## Note :
   ##### We Can Make Varibale With Numerals After Vaild Variable.

In [100]:
Block1 = "Mike"

In [101]:
Block1

'Mike'

In [102]:
A1 = "Peter"

In [103]:
A1

'Peter'

In [104]:
new = "\n"
space = "\t"

In [105]:
print("Mike",new,"Luke")

Mike
 Luke

In [106]:
print("Mike",new,"Luke",sep="")

Mike
Luke

## Data Type

In [ ]:
=> Integer
=> Float
=> Complex
=> Boolean

## Integer

In [ ]:
=> All +Ve And -Ve Numbers Without Decimal And Fractions.
=> Type : int
    
    Like : 100 , -25

In [107]:
a1 = 100

In [108]:
a1

100

In [109]:
b1 = -125

In [110]:
b1

-125

## How To Chcek Type of Data/Variable

##### Use : type()

In [ ]:
=> It Is Use For Chack Type of Data/Variable.

In [111]:
type(a1)

int

In [112]:
type(b1)

int

In [113]:
A1

'Peter'

In [114]:
print("My Name Is :",A1)

My Name Is : Peter

In [115]:
print("My Name Is : A1")

My Name Is : A1

##### Syntax :  f"String Data {Variable}"

In [116]:
print(f"My Name Is : {A1}")

My Name Is : Peter

In [120]:
A1 = 100
B1 = 20
print("A1 Is :",A1,f" ==> Type of {A1} Is : {type(A1)}")
print("\nB1 Is :",B1,f" ==> Type of {B1} Is : {type(B1)}")

A1 Is : 100  ==> Type of 100 Is : <class 'int'>

B1 Is : 20  ==> Type of 20 Is : <class 'int'>

In [122]:
A1 = 100
B1 = 20
print("A1 Is :",A1,f" ==> Type of {A1} Is : {type(A1)}")
print("\nB1 Is :",B1,f" ==> Type of {B1} Is : {type(B1)}")
res = A1/B1
print("\nResult Is :",res,f" ==> Type of {res} Is :{type(res)}")

A1 Is : 100  ==> Type of 100 Is : <class 'int'>

B1 Is : 20  ==> Type of 20 Is : <class 'int'>

Result Is : 5.0  ==> Type of 5.0 Is :<class 'float'>

##### Note : Division ==> Fraction : Data => Float

## Float

In [ ]:
=> All +Ve And -Ve Numbers With Decimal And Fractions.
=> Type : float
    
    Like : 100. , -25.56

In [123]:
a1 = 100.

In [124]:
a1

100.0

In [125]:
type(a1)

float

In [126]:
b1 = -25.56

In [127]:
b1

-25.56

In [128]:
type(b1)

float

In [129]:
type(126)

int

In [130]:
type(-100.)

float

#### Note :
   #####    Opeartion     : Type
    
   #####  float + int        :  float
   #####  float - int        :  float
   #####  float * int       :  float
   #####  float / int       :  float

In [131]:
a1 = 100
b1 = 25.
add = a1+b1
sub = a1-b1
mul = a1*b1
div = a1/b1

In [132]:
print(f"Add Is : {add} ==> Type Is : {type(add)}")
print(f"Sub Is : {sub} ==> Type Is : {type(sub)}")
print(f"Mul Is : {mul} ==> Type Is : {type(mul)}")
print(f"Div Is : {div} ==> Type Is : {type(div)}")

Add Is : 125.0 ==> Type Is : <class 'float'>
Sub Is : 75.0 ==> Type Is : <class 'float'>
Mul Is : 2500.0 ==> Type Is : <class 'float'>
Div Is : 4.0 ==> Type Is : <class 'float'>

## Complex

In [133]:
'''
            Real Part  +  Imaginary Part
            
        =>      X      +     Yi
        
        In Python , 
                           =>  i = j
                           
        =>      X      +     Yj
        
        
        Like :  5+10j , 10j , 
        
        
        Type : Complex

'''
""

''

In [134]:
a1 = 10+5j

In [136]:
a1

(10+5j)

In [137]:
b1 = 10j

In [138]:
b1

10j

In [139]:
type(a1)

complex

In [140]:
type(b1)

complex

In [141]:
a1 = -10j

In [142]:
a1

(-0-10j)

In [143]:
a1 = 10+5j
b1 = 10-5j

In [144]:
add = a1+b1
add

(20+0j)

In [145]:
sub = a1-b1
sub

10j

In [147]:
mul = a1*b1
'''
          mul  =  (10+5j)  x (10-5j)
        
    =>    mul  =   100 - 50j  + 50j  - 25(j^2)
    
    =>    mul  =   100 - 25(-1) + 0j   

    =>    mul  =   100 + 25  + 0j
    
    =>    mul  =   125 + 0j|
  
'''
mul

(125+0j)

In [148]:
a1 = 10+j
a1

NameError: name 'j' is not defined

In [149]:
a1 = 10+1j

In [150]:
a1

(10+1j)

## Boolean

In [ ]:
=> Work On Conditions.
=> It Has Two Keywords :
                             => True
                             => False
=> Type : bool

In [151]:
10>5

True

In [152]:
a1 = 10
b1 = 100
res = a1<b1   ## 10<100 => True
res1 = a1>b1  ## 10>100 => False
print("1st Result Is :",res)
print("\n2nd Result Is :",res1)

1st Result Is : True

2nd Result Is : False

In [153]:
type(res)

bool

In [154]:
type(res1)

bool

In [156]:
type(True)

bool

In [157]:
type(False)

bool

In [158]:
type(10==10)
## type(True)
## bool

bool

## Input Function

In [ ]:
=> Takes Data From A User.
=> It Takes Any Type of Data From User But Convert Into String Data Type

##### Syntax : input(prompt)

In [159]:
input()

Mike

'Mike'

In [160]:
input()

10

'10'

In [164]:
age = input()
print(f"\nMike Age Is : {age}\nType Is {type(age)}")

25

Mike Age Is : 25
Type Is <class 'str'>

In [167]:
name = input("Enter Name :")
age = input("\nEnter Age :")
city = input("\nEnter City :")
email = input("\nEnter Email Id :")
print(f"\n{name} Is {age} Years Old.\n{name} Lives In {city}..\nContact Me At This Mail_Id : {email}")

Enter Name :Luke

Enter Age :20

Enter City :Jaipur

Enter Email Id :luke@gmail.com

Luke Is 20 Years Old.
Luke Lives In Jaipur..
Contact Me At This Mail_Id : luke@gmail.com

In [168]:
a1 = input("Enter 1st Num :")
b1 = input("\nEnter 2nd Num :")
add = a1+b1
print(f"\nResult Is : {add}")

Enter 1st Num :10

Enter 2nd Num :50

Result Is : 1050

In [169]:
a1 = input("Enter 1st Num :")
b1 = input("\nEnter 2nd Num :")
print(f"\na1 Is : {a1}  ==> Type Is : {type(a1)}")
print(f"\nb1 Is : {b1}  ==> Type Is : {type(b1)}")
add = a1+b1
print(f"\nResult Is : {add}")

Enter 1st Num :10

Enter 2nd Num :50

a1 Is : 10  ==> Type Is : <class 'str'>

b1 Is : 50  ==> Type Is : <class 'str'>

Result Is : 1050